<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center divider-grey relative">

	<!-- Primary Nav -->
	<ul class="flex b grey-3 flex justify-between items-center">
		<li><a href="#ft" class="pa3 no-underline db">La French Tech ?</a></li>

		<li><a href="#events" class="pa3 no-underline db">Nos événements</a></li>

		<li><a href="#com" class="pa3 no-underline db">La communauté</a></li>

		<li><a href="#join" class="pa3 no-underline ba b--dark-red">Nous rejoindre</a></li>
	</ul>
	<ul class="flex justify-between items-center">
		<li><a href="/"><i></i>twitter</a></li>
		<li><a href="/"><i></i>Facebook</a></li>
	</ul>
</nav>
